body
{
    background-color:black;
}
li
        {
            list-style-type: none;

        }  
        .check
    {
        font-family: cursive;
       
    }
    .check::before
    {
        content:"👍";
    }
    .author
    {
        width: 100%;
        height: 100vh;
        background-color: orange;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .information
    {
        display: flex;
        background-color: white;
        width:50%;
        height: auto;
        border-radius: 20px;
        border:1px solid black;
        transition: transform 0.3s;
        box-shadow: 1px 0 20px black;
    }
    .information:hover
    {
        transform: scale(1.80);
    }