h1
        {
            text-align: right;
            color:black;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            animation: text 6s infinite linear;
            

        }
        .objects
        {
            padding: 40px 40px;
            background-color:orange;
            border-radius: 20px;
            overflow: hidden;
        }
        @keyframes text {
            0%{
              transform: translate(60%);
            }
            
            100%{
              transform: translate(-110%);
            }
          }
          body
          {
            background-color: black;
          }
          a
          {
            color: rgb(156, 147, 147) ;
            font-size: x-large;
            font-family: monospace;
          }
          li
          {
            color:  black;
          }
          .spisok
          {
            background-color: rgb(245, 183, 67);
            width: 100%;
            border-radius: 20px;
            height: 100vh;
            
          }