body
{
    background-color: black;
}
.container
{
    width: 100%;
    height: 2000px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.container2
{
    background-color: white;
    width: 200px;
    height: auto;
    text-align: center;
    margin-left: auto;
    border-radius: 10px;
}
.conteiner3
{
    background-color:black;
    width: 100%;
    height: 100%;
    text-align: center;
}
.container1
{
    width: 200px;
    padding: 10px 10px;
    text-align: center;
    border-top: 1px solid orange;
    border-bottom:1px solid orange ;
    border-left:1px solid orange ;
    border-right:1px solid orange ;
    border-radius: 10px;
    background-color: orange;
    text-decoration-color: black;
}
.container1 a
{
    border-top:  1px solid black;
    border-bottom: 1px solid black;
    display: block;
    padding: 10px;
    text-decoration: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 10px;
    background-color: white;
}
.container1 a:hover
{
    background-color: white;
}
footer
{
    background-color: orange;
    width: 100%;
    height: auto;
    padding:10px   10px;
    text-align: center;
    position: fixed;
    bottom: 0;
}
img
{
    width: 40px;
    height: 40px;
}
.blink
{
    animation: blinkingText 1.5s infinite;
}
@keyframes blinkingText
    {
        0% { opacity: 1; }
        50% { opacity: 0; }
        100% { opacity: 1; }
    }
h1
{
    color: white;
}
a
{
    color:black;
}
    
