body
{
    background-color: orange;
}
p
{
    text-align: center;
}
.container
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.next
{
    width: 100%;
    height: 50%;
    display: flex;
    border: 1px solid black;
}