body
{
    background-color:black;
}
li
        {
            list-style-type: none;

        }  
        .check
    {
        font-family: cursive;
       
    }
    .check::before
    {
        content:"👍";
    }
    .author
    {
        width: 100vh;
        height: 100vh;
        background-color: orange;
    }