.container
{
    width: auto;
    height: auto;
    margin:auto
}
.container2
{
    background-color: antiquewhite;
    width: auto;
    height: auto;
    text-align: center;
    margin: 0 auto;
}
.container1
{
    width: 200px;
    padding: 10px 10px;
    text-align: center;
}
.container1 a
{
    border-top:var(auto);
    border-bottom: 1px solid #1a507c;
    display: block;
    padding: 10px;
    text-decoration: none;
    border-left: 1px solid #1a507c;
    border-right: 1px solid #1a507c;
    border-top-left-radius:10px;
}
.container1 a:hover
{
    background-color: beige;
}
