body
{
    background-color: orange;
    display: flex;
    flex-direction: column;
    height: auto;
}
.top
{
    flex:1;
    display: flex;
    background-color: orange;
    align-items: center;
    border-bottom: 2px solid black;
    justify-content: center;
    
}
.bottom
{
    flex:1;
    display: flex;
    background-color: orange;
    align-items: center;
    justify-content: center;
}
a
{
    text-decoration: none;
    color: black;
}