body
{
    background-color: orange;
}
p
{
    text-align: center;
    
}
.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top
{
    display: flex;
    flex:1;
    background-color: orange;
    align-items: center;
    border-bottom: 1px solid black;
    justify-content: center;
    
}
.bottom
{
    display: flex;
    flex:1;
    background-color: orange;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
a
{
    text-decoration: none;
    color: black;
}